<div *ngIf="!showSummary" class="form">
  <h1>Impftermin
    <span *ngIf="!isUpdatingVac">erstellen</span>
    <span *ngIf="isUpdatingVac">bearbeiten</span>
  </h1>
  <form class="form-form" [formGroup]="vacForm"
        (ngSubmit)="nextStep()">
    <input type="hidden" name="id">
    <!--TODO id anhängen - auto increment?-->

    <!--<div class="form-field" [class.disabled]="isUpdatingVac">
      <label>Impfterminnummer:</label>
      <input type="number" formControlName="id" class="input-id">
      <div *ngIf="errors.id" class="error_message"> {{ errors.id }} </div>
    </div>-->

    <div class="form-field">
      <label>Datum des Impftermins:</label>
      <input type="date" formControlName="vacday" class="input-vacday">
      <div *ngIf="errors.vacday" class="error_message">{{ errors.vacday }}</div>
    </div>

    <div class="form-field">
      <label>Startzeitpunkt des Impftermins:</label>
      <input formControlName="start" class="input-start">
      <div *ngIf="errors.start" class="error_message">{{ errors.start }}</div>
    </div>

    <div class="form-field">
      <label>Endzeitpunkt des Impftermins:</label>
      <input formControlName="end" class="input-end">
      <div *ngIf="errors.end" class="error_message">{{ errors.end }}</div>
    </div>

    <div class="form-field">
      <label>Maximale Anzahl an Teilnehmer*innen:</label>
      <input type="number" formControlName="maxpersons" class="input_max">
      <div *ngIf="errors.maxpersons" class="error_message">{{ errors.maxpersons }}</div>
    </div>

    <div class="form-field">
      <label>Impfstoff:</label>
      <input formControlName="vaccine" class="input-type">
      <div *ngIf="errors.vaccine" class="error_message">{{ errors.vaccine }}</div>
    </div>

    <div class="form-field">
      <label>Impfort:</label>
      <!--Finger weg-->
      <select formControlName="vacplace" class="select-vacplace">
        <option *ngFor="let vacplace of vacplaces" [value]="vacplace.id" 
                [selected]="vacplace == vacdate.vacplace">
          {{ vacplace.id }}, {{ vacplace.zip }}, {{ vacplace.city }}, 
          {{ vacplace.adress }}
        </option>
      </select>
       <div *ngIf="errors.vacplace" class="error_message">{{ errors.vacplace }}</div>
    </div>

    <div class="form-buttons">
      <button class="button" (click)="backToPage()" *ngIf="isUpdatingVac"> Zurück</button>
      <button type="submit" class="button" [disabled]="vacForm.invalid">Weiter</button>
    </div>
  </form>
</div>

<div *ngIf="showSummary" class="summary">
  <h1>Zusammenfassung des
    <span *ngIf="isUpdatingVac"> bearbeiteten </span>
    <span *ngIf="!isUpdatingVac"> neu erstellten </span>
    Impftermins
  </h1>
  <div class="summary-container">
    <table class="summary-table">
      <tr>
        <td>Impfdatum:</td>
        <td>{{vacForm.value.vacday}}</td>
      </tr>
      <tr>
        <td>Startzeitpunkt des Impftermins:</td>
        <td>{{vacForm.value.start}}</td>
      </tr>
      <tr>
        <td>Endzeitpunkt des Impftermins:</td>
        <td>{{vacForm.value.end}}</td>
      </tr>
      <tr>
        <td>maximale Anzahl an Teilnehmer*innen:</td>
        <td>{{vacForm.value.maxpersons}}</td>
      </tr>
      <tr>
        <td>Impfstoff:</td>
        <td>{{vacForm.value.vaccine}}</td>
      </tr>
      <!--<tr *ngFor="let place of vacplaces" id="summary-vacplace">
        <td *ngIf="place.id == vacForm.value.vacpc">Impfort:</td>
        <td *ngIf="place.id == vacForm.value.vacplace">-->
          <tr>
            <td>Impfort: </td>
          <td>{{ vacForm.get('vacplace').value }}
        </td>
      </tr>
    </table>
  </div>
  <div class="summary-buttons">
    <button class="button" (click)="back()">Zurück</button>
    <button class="button" (click)="submitForm()">Speichern</button>
  </div>

</div>
