/* Add application styles & imports to this file! */

h1 {
  color: gray;
}

h2 {
  color: rgb(184, 2, 2);
}


.space{
  padding: 2em;
}

* {
  font-family: Lato;
}

.error_message{
  color:coral;
}

label{
  margin: 2em;
}

input, .select-vacplace, button{
  margin: 0.5em!important;
  padding:0.3em;
  border:none;
  background-color: lightgray;
  border-radius: 0.4em;
}
