<div class="ui-container space">
  <h1>Home</h1>
  <strong>Herzlich Willkommen beim Kuntze Impfservice!</strong><br><br>

  <p>Österreich bemüht sich, dass jede Person, die eine Impfung gegen COVID-19 haben möchte, diese auch bekommt.</p>
  <p>Um sich für einen Termin anzumelden, wählen Sie zuerst einen Impftermin in ihrer Umgebung aus.</p>

  <strong>Happy impfen</strong><br><br>

  <div *ngIf="authService.alreadyRegistered()">Sie sind bereits zu einer Impfung angemeldet.<br><br></div>

  <a routerLink="../vacdates" class="ui red button">Impftermine ansehen</a>

  <!--<bs-search class="column" (vacdateSelected)="vacdateSelected($event)"></bs-search>-->
</div>