<div class="content space {{!checkFreePlaces() ?'novacdatefree':'free'}}" *ngIf="vacdate">
  <h2>Impfung Nr. {{vacdate.id}}</h2>
  <p class="vacday">
    <strong>Datum:</strong> {{ vacdate.vacday | date:'longDate'}}
  </p>
  <p class="start">
    <strong>Zeit:</strong> {{ vacdate.start }} - {{ vacdate.end }}
  </p>
  <p class="vaccine"><strong>Impfstoff:</strong> {{ vacdate.vaccine }}</p>
  <p class="vacplace"><strong>Impfort:</strong>
   {{vacdate.vacplace.adress}},  {{vacdate.vacplace.zip}} {{vacdate.vacplace.city}}
  </p>

  <h3 *ngIf="!checkFreePlaces()" class="novacdatefree">Es sind leider alle Plätze vergeben.</h3>

  <button class="ui blue button" [routerLink]="'../../vacdates'">
    Zurück zur Impftermin Übersicht
  </button>

  <button *ngIf="!authService.isLoggedIn()" class="ui green button" [routerLink]="'../../login'">
    Impftermin buchen
  </button>

  <button *ngIf="authService.isLoggedIn() && !authService.alreadyRegistered() && checkFreePlaces()" class="ui green button" (click)="registerUser(user)">
    Impftermin buchen
  </button>

  <button *ngIf="authService.isAdmin()" class="ui tiny red labeled icon button"
(click)="removeVacdate()">
<i class="remove icon"></i> Impftermin löschen
</button>

<a *ngIf="authService.isAdmin()" class="ui tiny yellow labeled icon button" [routerLink]="['../../admin', vacdate?.id]">
<i class="write icon"></i> Impftermin bearbeiten
</a>
</div>

<hr>

<div class="details-users space" *ngIf="authService.isLoggedIn() && checkUser() && authService.isAdmin()">
    <h3>Angemeldete Personen</h3>
    <p *ngIf="vacdate.users.length == 0">Es haben sich noch keine Personen zu diesem Impftermin angemeldet!</p>
    <div class="details-all_users">
      <div *ngFor="let user of vacdate.users" class="details-users_user">
        <p class="details-user_name"><strong>{{ user.firstname }} {{ user.lastname }} | {{ user.gender }}</strong></p>
        <p>Geb.: {{ user.birthday | date:'longDate'}}</p>
        <p>SVNR: {{ user.svnr }}</p>
        <p>E-Mail: {{ user.email }}</p>
        <p>Tel.: {{ user.phone }}</p>
        <p *ngIf="user.vaccinated" class="vaccinated">Geimpft</p>
        <p *ngIf="!user.vaccinated" class="not_vaccinated">Nicht geimpft</p>
        <button *ngIf="!user.vaccinated" (click)="editToVaccinated(user)" class="details-user_is_vaccinated">Impfung durchgeführt</button>
        <br>
      </div>
    </div>
